<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Algo</servlet-name>
        <servlet-class>com.jc.controladores.ServletHola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autenticar1</servlet-name>
        <servlet-class>com.jc.controladores.ServletAutenticar1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empleadito</servlet-name>
        <servlet-class>com.jc.controladores.ServletInsertarEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Algo</servlet-name>
        <url-pattern>/primero.xls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autenticar1</servlet-name>
        <url-pattern>/ServletAutenticar1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empleadito</servlet-name>
        <url-pattern>/empleaditos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
